<?xml version="1.0" encoding="utf-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
  <ShortName>My Sisters Place</ShortName>
  <Description>My Sister's Place Athens is a domestic violence agency serving Athens, Hocking, and Vinton Counties, providing 24/7 hotline, outreach counseling, and an emergency shelter.</Description>
  <InputEncoding>UTF-8</InputEncoding>
  <Url type="application/opensearchdescription+xml" rel="self" template="http://www.mspathens.org/component/search/?Itemid=109&amp;format=opensearch"/>
  <Url type="text/html" template="http://www.mspathens.org/index.php?option=com_search&amp;searchword={searchTerms}"/>
</OpenSearchDescription>
